In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import time
from tqdm import tqdm

%matplotlib inline

#每次可以输出多个变量
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pylab import rcParams
rcParams['figure.figsize'] = 14, 6

#中文字体
import matplotlib  
matplotlib.use('qt4agg')  
#指定默认字体  
matplotlib.rcParams['font.sans-serif'] = ['SimHei']   
matplotlib.rcParams['font.family']='sans-serif'  
#解决负号'-'显示为方块的问题  
matplotlib.rcParams['axes.unicode_minus'] = False

/usr/local/miniconda2/envs/py35/lib/python3.5/site-packages/matplotlib/__init__.py:1405: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

In [6]:
train = pd.read_csv('./output/train_neg.csv')
test = pd.read_csv('./output/test_neg5.csv')

train.shape
train.head()
test.shape
test.head()

(5690075, 12)

,user_id,shop_id,time_stamp,longitude_x,latitude_x,wifi_infos,category_id,longitude_y,latitude_y,price,mall_id,flag
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...,c_38,122.308782,32.087894,42,m_1409,1
1,u_5847255,s_2871718,2017-08-06 13:40,122.308339,32.088094,b_8764725|-72|false;b_5857370|-64|false;b_5074...,c_49,122.308680,32.087986,64,m_1409,0
2,u_35745402,s_2871718,2017-08-10 17:30,122.308446,32.088192,b_56326320|-46|false;b_30230709|-46|false;b_56...,c_30,122.308319,32.088196,56,m_1409,0
3,u_29400269,s_2871718,2017-08-02 19:20,122.308613,32.088048,b_28723327|-70|false;b_20517758|-39|false;b_28...,c_26,122.307846,32.088110,52,m_1409,0
4,u_11893024,s_2871718,2017-08-18 19:10,122.307937,32.087890,b_5577440|-46|true;b_5577439|-52|false;b_22985...,c_51,122.308686,32.087754,64,m_1409,0

(2419655, 7)

,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos,shop_id
0,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,s_3683488
1,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,s_147921
2,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,s_312218
3,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,s_10425
4,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,s_3997599

In [4]:
shop = pd.read_csv('../input/训练数据-ccf_first_round_shop_info.csv')
shop = shop[['shop_id', 'longitude', 'latitude']]

In [4]:
train.flag.sum()

1138015

# Encode

In [9]:
train = train.drop([ 'category_id', 'price'], axis=1)
train.columns = ['user_id', 'shop_id', 'time_stamp', 'longitude_x', 'latitude_x', 'wifi_infos', 'longitude_y', 'latitude_y', 'mall_id', 'flag']
train = train[['user_id', 'mall_id', 'time_stamp', 'longitude_x', 'latitude_x', 'wifi_infos', 'longitude_y', 'latitude_y', 'shop_id', 'flag']]

test = test.merge(shop, left_on='shop_id', right_on='shop_id', how='left')
test = test[['user_id', 'mall_id', 'time_stamp', 'longitude_x', 'latitude_x', 'wifi_infos', 'longitude_y', 'latitude_y', 'shop_id', 'flag']]
test['flag'] = -1

train.shape
train.head()
test.shape
test.head()

(5690075, 10)

,user_id,mall_id,time_stamp,longitude_x,latitude_x,wifi_infos,longitude_y,latitude_y,shop_id,flag
0,u_376,m_1409,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...,122.308782,32.087894,s_2871718,1
1,u_5847255,m_1409,2017-08-06 13:40,122.308339,32.088094,b_8764725|-72|false;b_5857370|-64|false;b_5074...,122.308680,32.087986,s_2871718,0
2,u_35745402,m_1409,2017-08-10 17:30,122.308446,32.088192,b_56326320|-46|false;b_30230709|-46|false;b_56...,122.308319,32.088196,s_2871718,0
3,u_29400269,m_1409,2017-08-02 19:20,122.308613,32.088048,b_28723327|-70|false;b_20517758|-39|false;b_28...,122.307846,32.088110,s_2871718,0
4,u_11893024,m_1409,2017-08-18 19:10,122.307937,32.087890,b_5577440|-46|true;b_5577439|-52|false;b_22985...,122.308686,32.087754,s_2871718,0

(2419655, 10)

,user_id,mall_id,time_stamp,longitude_x,latitude_x,wifi_infos,longitude_y,latitude_y,shop_id,flag
0,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,122.140708,39.819073,s_3683488,-1
1,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,122.141208,39.818696,s_147921,-1
2,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,122.140651,39.819060,s_312218,-1
3,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,122.140955,39.819088,s_10425,-1
4,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,122.140818,39.819379,s_3997599,-1

In [10]:
full_data = pd.concat([train, test])

full_data.shape
full_data.head()

(8109730, 10)

,user_id,mall_id,time_stamp,longitude_x,latitude_x,wifi_infos,longitude_y,latitude_y,shop_id,flag
0,u_376,m_1409,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...,122.308782,32.087894,s_2871718,1
1,u_5847255,m_1409,2017-08-06 13:40,122.308339,32.088094,b_8764725|-72|false;b_5857370|-64|false;b_5074...,122.308680,32.087986,s_2871718,0
2,u_35745402,m_1409,2017-08-10 17:30,122.308446,32.088192,b_56326320|-46|false;b_30230709|-46|false;b_56...,122.308319,32.088196,s_2871718,0
3,u_29400269,m_1409,2017-08-02 19:20,122.308613,32.088048,b_28723327|-70|false;b_20517758|-39|false;b_28...,122.307846,32.088110,s_2871718,0
4,u_11893024,m_1409,2017-08-18 19:10,122.307937,32.087890,b_5577440|-46|true;b_5577439|-52|false;b_22985...,122.308686,32.087754,s_2871718,0

In [11]:
del train
del test

In [12]:
from math import radians, cos, sin, asin, sqrt  
  
def haversine(lon1, lat1, lon2, lat2): # 经度1，纬度1，经度2，纬度2 （十进制度数）  
    """ 
    Calculate the great circle distance between two points  
    on the earth (specified in decimal degrees) 
    """  
    # 将十进制度数转化为弧度  
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])  
  
    # haversine公式  
    dlon = lon2 - lon1   
    dlat = lat2 - lat1   
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2  
    c = 2 * asin(sqrt(a))   
    r = 6371 # 地球平均半径，单位为公里  
    return c * r * 100

In [13]:
full_data.time_stamp = pd.to_datetime(full_data.time_stamp, format="%Y-%m-%d")
full_data['time_hour'] = full_data.time_stamp.apply(lambda x : x.hour).astype(int)
full_data['time_week'] = full_data.time_stamp.apply(lambda x : x.dayofweek).astype(int)
full_data = full_data.drop(['time_stamp'], axis=1)

full_data['distance'] = full_data.apply(lambda x : haversine(x.longitude_x, x.latitude_x, x.longitude_y, x.latitude_y), axis=1)
full_data = full_data.drop(['longitude_x', 'longitude_y', 'latitude_x', 'latitude_y'], axis=1)

full_data.shape
full_data.head()

(8109730, 8)

,user_id,mall_id,wifi_infos,shop_id,flag,time_hour,time_week,distance
0,u_376,m_1409,b_6396480|-67|false;b_41124514|-86|false;b_287...,s_2871718,1,21,6,4.902234
1,u_5847255,m_1409,b_8764725|-72|false;b_5857370|-64|false;b_5074...,s_2871718,0,13,6,3.429618
2,u_35745402,m_1409,b_56326320|-46|false;b_30230709|-46|false;b_56...,s_2871718,0,17,3,1.197266
3,u_29400269,m_1409,b_28723327|-70|false;b_20517758|-39|false;b_28...,s_2871718,0,19,2,7.258564
4,u_11893024,m_1409,b_5577440|-46|true;b_5577439|-52|false;b_22985...,s_2871718,0,19,4,7.216426

In [11]:
def pop_wifi(x):
    if x != []:
        return x.pop()
    else:
        return x
    
def spl_wifi(x):
    if type(x) == str:
        return x.split('|')[:2]
    else:
        return x

full_data.wifi_infos = full_data.wifi_infos.apply(lambda x : x.split(';'))

for i in tqdm(range(1, 11)):
    full_data['wifi_info%d' % i] = full_data.wifi_infos.apply(pop_wifi)
    
full_data = full_data.drop(['wifi_infos'], axis=1)

for i in tqdm(range(1, 11)):
    full_data['wifi_info%d' % i] = full_data['wifi_info%d' % i].apply(spl_wifi)
    
full_data.shape
full_data.head()

100%|██████████| 10/10 [01:10<00:00,  7.06s/it]
100%|██████████| 10/10 [04:09<00:00, 24.90s/it]

(7625799, 18)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,wifi_info1,wifi_info2,wifi_info3,wifi_info4,wifi_info5,wifi_info6,wifi_info7,wifi_info8,wifi_info9,wifi_info10
0,u_376,m_1409,122.308291,32.088040,s_2871718,1,21,6,"[b_5857369, -55]","[b_56328155, -77]","[b_56326644, -89]","[b_5857370, -68]","[b_32053319, -74]","[b_8764723, -90]","[b_6396479, -55]","[b_28723327, -90]","[b_41124514, -86]","[b_6396480, -67]"
1,u_5847255,m_1409,122.308339,32.088094,s_2871718,0,13,6,"[b_3422850, -65]","[b_5857369, -72]","[b_56326644, -50]","[b_32053319, -27]","[b_8764726, -73]","[b_56328155, -63]","[b_28723327, -67]","[b_50744804, -67]","[b_5857370, -64]","[b_8764725, -72]"
2,u_35745402,m_1409,122.308446,32.088192,s_2871718,0,17,3,"[b_25137940, -44]","[b_5857370, -66]","[b_56326644, -60]","[b_28081413, -69]","[b_32053319, -72]","[b_28723327, -71]","[b_25137939, -40]","[b_56325933, -67]","[b_30230709, -46]","[b_56326320, -46]"
3,u_29400269,m_1409,122.308613,32.088048,s_2871718,0,19,2,"[b_56326644, -70]","[b_7902716, -69]","[b_54126642, -74]","[b_1071564, -63]","[b_8764724, -40]","[b_28082127, -59]","[b_8764723, -48]","[b_28081413, -56]","[b_20517758, -39]","[b_28723327, -70]"
4,u_11893024,m_1409,122.307937,32.087890,s_2871718,0,19,4,"[b_5577434, -74]","[b_5857370, -76]","[b_6396480, -75]","[b_5577433, -67]","[b_32093290, -36]","[b_28723327, -76]","[b_22985734, -66]","[b_5577439, -52]","[b_5577440, -46]",[]

In [12]:
def wifi_name(x):
    if x != []:
        return x[0][2:]
    else:
        return 0
    
def wifi_stre(x):
    if x != []:
        return x[1]
    else:
        return 0

for i in tqdm(range(1, 11)):
    full_data['wifi_name%d' % i] = full_data['wifi_info%d' % i].apply(wifi_name)
    full_data['wifi_stre%d' % i] = full_data['wifi_info%d' % i].apply(wifi_stre)
    full_data = full_data.drop(['wifi_info%d' % i], axis=1)
    
full_data.shape
full_data.head()

100%|██████████| 10/10 [03:42<00:00, 22.20s/it]

(7625799, 28)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,wifi_name1,wifi_stre1,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
0,u_376,m_1409,122.308291,32.088040,s_2871718,1,21,6,5857369,-55,...,8764723,-90,6396479,-55,28723327,-90,41124514,-86,6396480,-67
1,u_5847255,m_1409,122.308339,32.088094,s_2871718,0,13,6,3422850,-65,...,56328155,-63,28723327,-67,50744804,-67,5857370,-64,8764725,-72
2,u_35745402,m_1409,122.308446,32.088192,s_2871718,0,17,3,25137940,-44,...,28723327,-71,25137939,-40,56325933,-67,30230709,-46,56326320,-46
3,u_29400269,m_1409,122.308613,32.088048,s_2871718,0,19,2,56326644,-70,...,28082127,-59,8764723,-48,28081413,-56,20517758,-39,28723327,-70
4,u_11893024,m_1409,122.307937,32.087890,s_2871718,0,19,4,5577434,-74,...,28723327,-76,22985734,-66,5577439,-52,5577440,-46,0,0

In [15]:
full_data.user_id = full_data.user_id.apply(lambda x : x[2:])
full_data.shop_id = full_data.shop_id.apply(lambda x : x[2:])
full_data.mall_id = full_data.mall_id.apply(lambda x : x[2:])

full_data.shape
full_data.head()

(7625799, 28)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,wifi_name1,wifi_stre1,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
0,376,1409,122.308291,32.088040,2871718,1,21,6,5857369,-55,...,8764723,-90,6396479,-55,28723327,-90,41124514,-86,6396480,-67
1,5847255,1409,122.308339,32.088094,2871718,0,13,6,3422850,-65,...,56328155,-63,28723327,-67,50744804,-67,5857370,-64,8764725,-72
2,35745402,1409,122.308446,32.088192,2871718,0,17,3,25137940,-44,...,28723327,-71,25137939,-40,56325933,-67,30230709,-46,56326320,-46
3,29400269,1409,122.308613,32.088048,2871718,0,19,2,56326644,-70,...,28082127,-59,8764723,-48,28081413,-56,20517758,-39,28723327,-70
4,11893024,1409,122.307937,32.087890,2871718,0,19,4,5577434,-74,...,28723327,-76,22985734,-66,5577439,-52,5577440,-46,0,0

In [ ]:
full_data.to_csv('./output/fulldata_neg_dis.csv', index=False)

# XGB

In [17]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.cross_validation import KFold

/usr/local/miniconda2/envs/py35/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
full_data.user_id = full_data.user_id.astype(int)
full_data.shop_id = full_data.shop_id.astype(int)
full_data.mall_id = full_data.mall_id.astype(int)

for i in tqdm(range(1, 11)):
    full_data['wifi_name%d' % i] = full_data['wifi_name%d' % i].astype(int)
    full_data['wifi_stre%d' % i] = full_data['wifi_stre%d' % i].astype(int)

100%|██████████| 10/10 [01:25<00:00,  8.56s/it]

In [22]:
train = full_data[full_data.flag != -1]
test = full_data[full_data.flag == -1]

train.shape
train.head()
test.shape
test.head()

(5690075, 28)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,wifi_name1,wifi_stre1,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
0,376,1409,122.308291,32.088040,2871718,1,21,6,5857369,-55,...,8764723,-90,6396479,-55,28723327,-90,41124514,-86,6396480,-67
1,5847255,1409,122.308339,32.088094,2871718,0,13,6,3422850,-65,...,56328155,-63,28723327,-67,50744804,-67,5857370,-64,8764725,-72
2,35745402,1409,122.308446,32.088192,2871718,0,17,3,25137940,-44,...,28723327,-71,25137939,-40,56325933,-67,30230709,-46,56326320,-46
3,29400269,1409,122.308613,32.088048,2871718,0,19,2,56326644,-70,...,28082127,-59,8764723,-48,28081413,-56,20517758,-39,28723327,-70
4,11893024,1409,122.307937,32.087890,2871718,0,19,4,5577434,-74,...,28723327,-76,22985734,-66,5577439,-52,5577440,-46,0,0

(1935724, 28)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,wifi_name1,wifi_stre1,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
0,30097142,3916,122.141011,39.818847,3683488,-1,13,1,13748229,-72,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
1,30097142,3916,122.141011,39.818847,147921,-1,13,1,13748229,-72,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
2,30097142,3916,122.141011,39.818847,312218,-1,13,1,13748229,-72,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
3,30097142,3916,122.141011,39.818847,10425,-1,13,1,13748229,-72,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
4,30097803,5085,118.191907,32.855858,3981172,-1,13,2,21694477,-85,...,49853639,-68,34919588,-79,43888938,-80,10537579,-75,36722251,-81

In [23]:
del full_data

In [16]:
kf = KFold(train.shape[0], n_folds=3, random_state=0)

for i, (train_index, val_index) in enumerate(kf):
        train_kflod = train.iloc[train_index]
        val_kflod = train.iloc[val_index]
        break
        
train_kflod.shape
train_kflod.head()
val_kflod.shape
val_kflod.head()

del train

(3793383, 32)

,user_id,shop_id,longitude_x,latitude_x,category_id,longitude_y,latitude_y,price,mall_id,flag,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
1896692,27826312,97407,113.782430,23.336409,30,113.782407,23.336548,35,7374,0,...,17317763,-83,47388861,-83,20060499,-77,17317797,-88,32397977,-83
1896693,13395350,97407,113.782176,23.336603,29,113.782121,23.336517,42,7374,0,...,35395028,-65,47388862,-67,35395029,-74,46135631,-64,48239846,-72
1896694,63724016,97407,113.782656,23.336327,28,113.782157,23.336945,42,7374,0,...,17317797,-73,47388862,-86,14068993,-90,14068992,-81,20060499,-69
1896695,41178031,42867,120.744472,30.814957,6,120.745006,30.814852,58,1175,1,...,1066579,-82,40579753,-54,1066344,-55,1068573,-49,1066578,-59
1896696,49253462,42867,120.744327,30.814897,30,120.745465,30.814478,46,1175,0,...,1068573,-79,34929649,-45,53131528,-86,17579864,-67,40579499,-72

(1896692, 32)

,user_id,shop_id,longitude_x,latitude_x,category_id,longitude_y,latitude_y,price,mall_id,flag,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
0,376,2871718,122.308291,32.088040,38,122.308782,32.087894,42,1409,1,...,8764723,-90,6396479,-55,28723327,-90,41124514,-86,6396480,-67
1,5847255,2871718,122.308339,32.088094,49,122.308680,32.087986,64,1409,0,...,56328155,-63,28723327,-67,50744804,-67,5857370,-64,8764725,-72
2,35745402,2871718,122.308446,32.088192,30,122.308319,32.088196,56,1409,0,...,28723327,-71,25137939,-40,56325933,-67,30230709,-46,56326320,-46
3,29400269,2871718,122.308613,32.088048,26,122.307846,32.088110,52,1409,0,...,28082127,-59,8764723,-48,28081413,-56,20517758,-39,28723327,-70
4,11893024,2871718,122.307937,32.087890,51,122.308686,32.087754,64,1409,0,...,28723327,-76,22985734,-66,5577439,-52,5577440,-46,0,0

In [17]:
y_train = train_kflod.flag
x_train = train_kflod.drop(['flag'], axis=1)

y_val = val_kflod.flag
x_val = val_kflod.drop(['flag'], axis=1)

del train_kflod
del val_kflod

In [29]:
y_train = train.flag
x_train = train.drop(['flag'], axis=1)
x_test = test.drop(['flag'], axis=1)

x_train.shape
x_train.head()
x_test.shape
x_test.head()

(5690075, 27)

,user_id,mall_id,longitude,latitude,shop_id,time_hour,time_week,wifi_name1,wifi_stre1,wifi_name2,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
0,376,1409,122.308291,32.088040,2871718,21,6,5857369,-55,56328155,...,8764723,-90,6396479,-55,28723327,-90,41124514,-86,6396480,-67
1,5847255,1409,122.308339,32.088094,2871718,13,6,3422850,-65,5857369,...,56328155,-63,28723327,-67,50744804,-67,5857370,-64,8764725,-72
2,35745402,1409,122.308446,32.088192,2871718,17,3,25137940,-44,5857370,...,28723327,-71,25137939,-40,56325933,-67,30230709,-46,56326320,-46
3,29400269,1409,122.308613,32.088048,2871718,19,2,56326644,-70,7902716,...,28082127,-59,8764723,-48,28081413,-56,20517758,-39,28723327,-70
4,11893024,1409,122.307937,32.087890,2871718,19,4,5577434,-74,5857370,...,28723327,-76,22985734,-66,5577439,-52,5577440,-46,0,0

(1935724, 27)

,user_id,mall_id,longitude,latitude,shop_id,time_hour,time_week,wifi_name1,wifi_stre1,wifi_name2,...,wifi_name6,wifi_stre6,wifi_name7,wifi_stre7,wifi_name8,wifi_stre8,wifi_name9,wifi_stre9,wifi_name10,wifi_stre10
0,30097142,3916,122.141011,39.818847,3683488,13,1,13748229,-72,21518966,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
1,30097142,3916,122.141011,39.818847,147921,13,1,13748229,-72,21518966,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
2,30097142,3916,122.141011,39.818847,312218,13,1,13748229,-72,21518966,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
3,30097142,3916,122.141011,39.818847,10425,13,1,13748229,-72,21518966,...,32418144,-55,34366190,-84,4162269,-84,37756289,-53,34366982,-82
4,30097803,5085,118.191907,32.855858,3981172,13,2,21694477,-85,44551973,...,49853639,-68,34919588,-79,43888938,-80,10537579,-75,36722251,-81

In [30]:
gbm = xgb.XGBClassifier(
    learning_rate=0.1,
    n_estimators=500,
    max_depth=5,
    min_child_weight=1,
    gamma=0.9,
    subsample=0.8,
    colsample_bytree=0.75,
    objective='binary:logistic',
    nthread=-1,
    scale_pos_weight=1,
    seed=0)

In [31]:
gbm.fit(x_train, y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=0.8)

In [37]:
xgb_params = {
    'learning_rate' : [0.1],
    'n_estimators' : [500],
#     'max_depth': [4, 6],
    'min_weight' : [1, 3],
#     'min_data_in_leaf':[10,15],
    'colsample_bytree' : [0.75],
    'subsample' : [0.8],
    'reg_lambda' : [1.5],
}

if __name__ == '__main__':
    xgb_grid = GridSearchCV(gbm, xgb_params, verbose=1, cv=3, n_jobs=-1, scoring = 'roc_auc')
    xgb_grid.fit(x_train, y_train)
    xgb_grid.best_params_
    xgb_grid.best_score_

Fitting 3 folds for each of 2 candidates, totalling 6 fits

ImportError: [joblib] Attempting to do parallel computing without protecting your import on a system that does not support forking. To use parallel-computing in a script, you must protect your main loop using "if __name__ == '__main__'". Please see the joblib documentation on Parallel for more information

In [32]:
y_test_proba = gbm.predict_proba(x_test)
y_test_proba = pd.DataFrame(y_test_proba, columns=[0, 1])

y_test_proba.shape
y_test_proba.head()

(1935724, 2)

          0         1
0  0.785055  0.214945
1  0.761038  0.238962
2  0.757459  0.242541
3  0.797949  0.202051
4  0.824846  0.175154

In [99]:
# y_max = []
# for i in tqdm(range(len(y_test_proba))):
#     if i % 4 == 0:
#         y_max.append(y_test_proba.iloc[i : i + 4, 1].sort_values().index[0])
#     else:
#          y_max.append(0)

y_pred = []
for i in tqdm(y_max):
    if i != 0:
        y_pred.append('s_' + str(x_test.iloc[i, 4].copy()))
        
# pred = []
# for i in tqdm(y_pred):
#     pred.append(i[4])

100%|██████████| 1935724/1935724 [00:30<00:00, 62978.61it/s]

In [100]:
len(x_test)
len(y_max)
len(y_pred)

1935724

1935724

483931

In [66]:
{'base_score': 0.5,
 'colsample_bylevel': 1,
 'colsample_bytree': 0.75,
 'gamma': 0.9,
 'learning_rate': 0.1,
 'max_delta_step': 0,
 'max_depth': 5,
 'min_child_weight': 1,
 'missing': None,
 'n_estimators': 500,
 'nthread': -1,
 'objective': 'binary:logistic',
 'reg_alpha': 0,
 'reg_lambda': 1,
 'scale_pos_weight': 1,
 'seed': 0,
 'silent': True,
 'subsample': 0.8}

0.7999996836597613

y_pred_proba[y_pred_proba['max'] == 0].shape[0] / y_pred_proba.shape[0]

0.7999996836597613

In [101]:
test = pd.read_csv('../input/AB榜测试集-evaluation_public.csv')

In [102]:
submit = pd.concat([test.row_id, pd.DataFrame(y_pred, columns=['shop_id'])], axis=1)
del test

submit.shape
submit.head()

(483931, 2)

   row_id    shop_id
0  118742    s_10425
1  118743  s_3981172
2  118744    s_21049
3  118745  s_3671247
4  118746  s_2953551

In [103]:
submit.to_csv('./model/submit/submit_xgb.csv', index=False)
del submit

# One-Hot

In [2]:
from sklearn import preprocessing
import xgboost as xgb

In [3]:
wifi_infos = pd.read_csv('./output/wifi_info.csv')
wifi_infos = wifi_infos.drop(['Unnamed: 0'], axis=1)

wifi_infos.shape
wifi_infos.head()

(11075599, 5)

        bssid  connect  index mall_id  strength
0   b_6396480    False      0  m_1409       -67
1  b_41124514    False      0  m_1409       -86
2  b_28723327    False      0  m_1409       -90
3   b_6396479    False      0  m_1409       -55
4   b_8764723    False      0  m_1409       -90

In [4]:
wifi_infos = wifi_infos.bssid.value_counts()
many_wifi = []

In [5]:
for index in wifi_infos.index:
    if wifi_infos[index] >= 20:
        many_wifi.append(index)

In [6]:
len(many_wifi)

64440

In [7]:
train = pd.read_csv('./output/train_neg.csv')
test = pd.read_csv('./output/test_neg10.csv')

train = train.drop(['longitude_y', 'latitude_y', 'category_id', 'price'], axis=1)
train.columns = ['user_id', 'shop_id', 'time_stamp', 'longitude', 'latitude', 'wifi_infos', 'mall_id', 'flag']
train = train[['user_id', 'mall_id', 'time_stamp', 'longitude', 'latitude', 'wifi_infos', 'shop_id', 'flag']]
test['flag'] = -1

KeyboardInterrupt:

In [ ]:
full_data = pd.concat([train, test])
mall_ids = set(full_data.mall_id)

del train
del test

In [12]:
full_data.time_stamp = pd.to_datetime(full_data.time_stamp, format="%Y-%m-%d")
full_data['time_hour'] = full_data.time_stamp.apply(lambda x : x.hour).astype(int)
full_data['time_week'] = full_data.time_stamp.apply(lambda x : x.dayofweek).astype(int)
full_data = full_data.drop(['time_stamp'], axis=1)
full_data.user_id = full_data.user_id.apply(lambda x : x[2:]).astype(int)
full_data = full_data.drop(['wifi_infos'], axis=1)
full_data['full_order'] = full_data.index

In [13]:
full_data.to_csv('./output/full_data_neg10.csv', index=False)

In [7]:
full_data = pd.read_csv('./output/full_data_neg10.csv')
mall_ids = set(full_data.mall_id)

full_data.shape
full_data.head()

(10045454, 9)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,full_order
0,376,m_1409,122.308291,32.088040,s_2871718,1,21,6,0
1,5847255,m_1409,122.308339,32.088094,s_2871718,0,13,6,1
2,35745402,m_1409,122.308446,32.088192,s_2871718,0,17,3,2
3,29400269,m_1409,122.308613,32.088048,s_2871718,0,19,2,3
4,11893024,m_1409,122.307937,32.087890,s_2871718,0,19,4,4

In [8]:
from sklearn import preprocessing

In [9]:
full_data.longitude = preprocessing.scale(full_data.longitude)
full_data.latitude = preprocessing.scale(full_data.latitude)
full_data.time_hour = preprocessing.scale(full_data.time_hour)
full_data.time_week = preprocessing.scale(full_data.time_week)

full_data.shape
full_data.head()

/usr/local/miniconda2/envs/py35/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, _DataConversionWarning)

(10045454, 9)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,full_order
0,376,m_1409,1.126179,-0.176739,s_2871718,1,1.530986,1.310754,0
1,5847255,m_1409,1.126190,-0.176727,s_2871718,0,-0.747440,1.310754,1
2,35745402,m_1409,1.126215,-0.176705,s_2871718,0,0.391773,-0.166167,2
3,29400269,m_1409,1.126254,-0.176737,s_2871718,0,0.961380,-0.658474,3
4,11893024,m_1409,1.126097,-0.176773,s_2871718,0,0.961380,0.326140,4

In [10]:
train = full_data[full_data.flag != -1]
test = full_data[full_data.flag == -1]
test.full_order = test.full_order + 1138015

del full_data

train.shape
train.head()
test.shape
test.head()

/usr/local/miniconda2/envs/py35/lib/python3.5/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

(5690075, 9)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,full_order
0,376,m_1409,1.126179,-0.176739,s_2871718,1,1.530986,1.310754,0
1,5847255,m_1409,1.126190,-0.176727,s_2871718,0,-0.747440,1.310754,1
2,35745402,m_1409,1.126215,-0.176705,s_2871718,0,0.391773,-0.166167,2
3,29400269,m_1409,1.126254,-0.176737,s_2871718,0,0.961380,-0.658474,3
4,11893024,m_1409,1.126097,-0.176773,s_2871718,0,0.961380,0.326140,4

(4355379, 9)

,user_id,mall_id,longitude,latitude,shop_id,flag,time_hour,time_week,full_order
5690075,30097142,m_3916,1.0873,1.565789,s_3683488,-1,-0.74744,-1.150781,1138015
5690076,30097142,m_3916,1.0873,1.565789,s_147921,-1,-0.74744,-1.150781,1138016
5690077,30097142,m_3916,1.0873,1.565789,s_312218,-1,-0.74744,-1.150781,1138017
5690078,30097142,m_3916,1.0873,1.565789,s_10425,-1,-0.74744,-1.150781,1138018
5690079,30097142,m_3916,1.0873,1.565789,s_3997599,-1,-0.74744,-1.150781,1138019

In [11]:
def mall_wifi_dateframe(mall_id, path):
    cols = pickle.load(open('../cjy/input/'+path+'/'+mall_id+'_cols.p','rb'))
    coo = pickle.load(open('../cjy/input/'+path+'/'+mall_id+'.p','rb'))
    coo = coo.tocoo(copy=False)
    coo_group = pd.DataFrame({'row': coo.row, 'col': coo.col, 'data': coo.data}
                 )[['row', 'col', 'data']].sort_values(['row', 'col']
                 ).reset_index(drop=True).groupby('col')
    df = pd.DataFrame(0 * np.ones((max(coo.row)+1, len(cols))), columns=cols, dtype=np.int64)
    tmp = coo_group.apply(lambda x:x.row.values)
    for col,rows,values in zip(tmp.index.tolist(),tmp.values,
                                coo_group.apply(lambda x:x.data.tolist())):
        df.iloc[rows,col]=values
    return df

In [12]:
gbm = xgb.XGBClassifier(
    learning_rate=0.1,
    n_estimators=500,
    max_depth=5,
    min_child_weight=1,
    gamma=0.9,
    subsample=0.8,
    colsample_bytree=0.75,
    objective='binary:logistic',
    nthread=-1,
    scale_pos_weight=4,
    seed=0)

In [13]:
import os  
  
finish_mall = os.listdir('./model/xgb10')
for i in range(len(finish_mall)):
    finish_mall[i] = finish_mall[i][:-2]
finish_mall

['m_2123',
 'm_1790',
 'm_6803',
 'm_8093',
 'm_2267',
 'm_5085',
 'm_4828',
 'm_5767',
 'm_1377',
 'm_2907',
 'm_5810',
 'm_909',
 'm_623',
 'm_4548',
 'm_3832',
 'm_3528',
 'm_2467',
 'm_7523',
 'm_4422',
 'm_5154',
 'm_625',
 'm_1021',
 'm_979',
 'm_5529',
 'm_2715',
 'm_4121',
 'm_7994',
 'm_2333',
 'm_4168',
 'm_4406',
 'm_3501',
 'm_3054',
 'm_1089',
 'm_4515',
 'm_4759',
 'm_626',
 'm_7973',
 'm_4572',
 'm_2009',
 'm_6167',
 'm_968',
 'm_3739',
 'm_4033',
 'm_4094',
 'm_1409',
 'm_3445',
 'm_1293',
 'm_2578',
 'm_3916',
 'm_5352',
 'm_8344',
 'm_3517',
 'm_9068',
 'm_3871',
 'm_615',
 'm_1375',
 'm_1920',
 'm_3019',
 'm_6587',
 'm_3313',
 'm_1621',
 'm_4341',
 'm_4187',
 'm_4011',
 'm_7168',
 'm_1950',
 'm_5825',
 'm_2058',
 'm_822',
 'm_622',
 'm_2415',
 'm_2182',
 'm_4459',
 'm_690',
 'm_1085',
 'm_1263',
 'm_7601',
 'm_5892',
 'm_5076',
 'm_4543',
 'm_4495',
 'm_2270',
 'm_9054',
 'm_4079']

In [14]:
len(finish_mall)

84

In [15]:
for mall_id in tqdm(mall_ids):
    if mall_id not in finish_mall:
        train_new = []
        m_train = train[train.mall_id == mall_id]
        m_test = test[test.mall_id == mall_id]
        m_full = pd.concat([m_train, m_test])
        del m_train
        del m_test

        # shop_id onehot
        shop = pd.get_dummies(m_full.shop_id)
        m_full = m_full.drop(['shop_id'], axis=1)
        m_full = pd.concat([m_full, shop], axis=1)
        del shop
        m_train = m_full[m_full.flag != -1]
        m_test = m_full[m_full.flag == -1]
        m_train = m_train.as_matrix()
        m_test = m_test.as_matrix()
        del m_full

        # wifi onehot
        m1 = mall_wifi_dateframe(mall_id, 'train_matrix')
        m2 = mall_wifi_dateframe(mall_id, 'test_matrix')
        m1 = m1.drop(['full_order'], axis=1)
        m2 = m2.drop(['full_order'], axis=1)
        wifi_spc = list(set(many_wifi).intersection(set(m1.columns)))
        m1 = m1[wifi_spc]
        m2 = m2[wifi_spc]
        m1 = m1.as_matrix()
        m2 = m2.as_matrix()
        m_train_new = []
        m_test_new = []
        for i in range(len(m1)):
            m_train_new.append(m1[i].tolist())
            m_train_new.append(m1[i].tolist())
            m_train_new.append(m1[i].tolist())
            m_train_new.append(m1[i].tolist())
            m_train_new.append(m1[i].tolist())
        for i in range(len(m2)):
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
            m_test_new.append(m2[i].tolist())
        del m1
        del m2
        m_trian_nn = np.hstack((m_train.tolist(), m_train_new))
        m_test_nn = np.hstack((m_test.tolist(), m_test_new))
        del m_train
        del m_test
        del m_train_new
        del m_test_new
        x_train = np.hstack((m_trian_nn[:, 2:4], m_trian_nn[:, 5:7], m_trian_nn[:, 8:]))
        y_train = m_trian_nn[:, 4]
        x_test = np.hstack((m_test_nn[:, 2:4], m_test_nn[:, 5:7], m_test_nn[:, 8:]))
        del m_trian_nn
        del m_test_nn

        gbm.fit(x_train, y_train)
        y_pred_proba = gbm.predict_proba(x_test)
        y_pred_proba = pd.DataFrame(y_pred_proba)

        print(mall_id)
        finish_mall.append(mall_id)
        pickle.dump(pd.DataFrame(y_pred_proba), open('./model/xgb10/' + str(mall_id) + '.p', 'wb'), protocol=4)

  0%|          | 0/97 [00:00<?, ?it/s]

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 25%|██▍       | 24/97 [20:18<1:01:45, 50.76s/it]

m_2224

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 26%|██▌       | 25/97 [29:19<1:24:26, 70.37s/it]

m_1831

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 29%|██▉       | 28/97 [38:47<1:35:36, 83.14s/it]

m_2878

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 30%|██▉       | 29/97 [1:06:51<2:36:45, 138.32s/it]

m_1175

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 34%|███▍      | 33/97 [1:13:16<2:22:07, 133.24s/it]

m_3112

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 38%|███▊      | 37/97 [1:31:05<2:27:42, 147.72s/it]

m_6337

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 57%|█████▋    | 55/97 [1:35:22<1:12:49, 104.05s/it]

m_3425

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 70%|███████   | 68/97 [1:39:20<42:21, 87.65s/it]

m_8379

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 76%|███████▋  | 74/97 [1:54:59<35:44, 93.24s/it]

m_3839

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 80%|████████  | 78/97 [2:01:35<29:37, 93.53s/it]

m_7374

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 82%|████████▏ | 80/97 [2:06:03<26:47, 94.55s/it]

m_4923

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

 93%|█████████▎| 90/97 [2:16:27<10:36, 90.98s/it]

m_7800

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.75,
       gamma=0.9, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=4, seed=0, silent=True, subsample=0.8)

100%|██████████| 97/97 [2:37:01<00:00, 97.13s/it]

m_3005